@import 'tailwindcss';

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-gray-100: #f2f7fb;
  --color-gray-200: #e1edf7;
  --color-gray-300: #8a97a7;
  --color-gray-400: #2b3643;

 --color-blue-light: #d8e9ff;
  --color-blue-base: #3b82f6;
  --color-blue-dark: #1e40af;

  --color-sky-light: #e5f0ff;
  --color-sky-base: #60a5fa;
  --color-sky-dark: #2563eb;

  --font-sans: "Cairo", sans-serif;

  --shadow-sm: 0px 4px 8px 0px rgba(54, 23, 45, 0.05);
}